/* CSS for BadgerXBlock */

.badger_block .count {
    font-weight: bold;
}

.badger_block p {
    cursor: pointer;
}

.badge-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.badge-loader {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
	box-sizing: border-box;
}

.btn-default-badger {
    background: #0075b4;
    color: #fff;
    transition: all 0.3s;
}

.btn-default-badger:hover, .btn-default:focus {
    background: #009ade;
    color: #fff;
    box-shadow: none;
}

.btn-badger {
    display: block;
    width: 60%;
    padding: 10px 30px;;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 4px;
}
